.four-oh {
  background: 
  linear-gradient(90.4deg,rgba(244,199,62,.7) -3.8%,rgba(244,62,62,0.7) 46.8%,rgba(245,61,195,0.7) 98.8% ), 
  url('https://media.giphy.com/media/t81FeEosFFHva/giphy.gif');
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-size: cover;
  text-align: center;

  @media #{$media-size-phone} {
    background: 
  linear-gradient(90.4deg,rgba(244,199,62,.7) -3.8%,rgba(244,62,62,0.7) 46.8%,rgba(245,61,195,0.7) 98.8% ), 
  url('https://media.giphy.com/media/84SFZf1BKgzeny1WxQ/giphy.gif');
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-size: cover;
  text-align: center;
  }


  h1, h2, h3 {
    color: white;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 20rem;
  }

  a {
    color: white;
    box-shadow: inset 0 -2px 0 rgba(var(--dark-text-color), 0.6);
    text-decoration: none;
    transition: box-shadow .25s ease-in-out;

    &:hover {
      box-shadow: inset 0 -2px 0 rgba(var(--dark-text-color), 1);
      background-color: transparent;
    }
  } 

  .four-oh-words {
    display: grid;
    place-items: center;
  }
}