@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("../fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Italic.woff2") format("woff2"),
       url("../fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"),
       url("../fonts/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"),
       url("../fonts/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-BoldItalic.woff") format("woff");
}


@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Book.woff2') format('woff2'),
      url('../fonts/MaisonNeue-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-BookItalic.woff2') format('woff2'),
      url('../fonts/MaisonNeue-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Bold.woff2') format('woff2'),
      url('../fonts/MaisonNeue-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-BoldItalic.woff2') format('woff2'),
      url('../fonts/MaisonNeue-BoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-Medium.woff2') format('woff2'),
      url('../fonts/MaisonNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue';
  src: url('../fonts/MaisonNeue-MediumItalic.woff2') format('woff2'),
      url('../fonts/MaisonNeue-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}




@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro.woff2') format('woff2'),
      url('../fonts/ApercuPro.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro-Italic.woff2') format('woff2'),
      url('../fonts/ApercuPro-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro-Bold.woff2') format('woff2'),
      url('../fonts/ApercuPro-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro-BoldItalic.woff2') format('woff2'),
      url('../fonts/ApercuPro-BoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

// /* Space Grotesk */
// @font-face {
//   font-family: 'Space Grotesk';
//   font-style:  normal;
//   font-display: auto;
//   font-weight: 400;
//   src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
//        url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
// }

// @font-face {
//   font-family: 'Space Grotesk';
//   font-style:  normal;
//   font-display: auto;
//   font-weight: 800;
//   src: url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2"),
//        url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
// }