.footer {
  padding: 14rem var(--spacing-m) var(--spacing-m) var(--spacing-m);
  color: rgba(var(--light-text-color), 0.6);
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 68rem;
  margin: 0 auto;
  font-size: 1.6rem;
  
  .dark-theme & {
    color: rgba(var(--dark-text-color-secondary), 1);
  }

  .footer-emoji {
    color: rgba(var(--light-text-color), 1);

    .dark-theme & {
      color: rgba(var(--dark-text-color), 1);
    }

  }

  @media #{$media-size-tablet} {
    padding: 4rem var(--spacing-m) var(--spacing-m) var(--spacing-m);
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    gap: var(--spacing-xs);
  }
  

  &__left {

    .copyright {
      font-family: var(--font-ibm-mono);
    }

    @media #{$media-size-tablet} {
      text-align: center;
    }
  }

  &__right {
   text-align: right;

   .svg-icon {
    display: inline-flex;
    align-self: center;
    }

    .svg-icon svg {
      height:1.6rem;
      width:1.6rem;
    }

    .svg-icon.svg-baseline svg {
      top: .125em;
      position: relative;
  }

   a {
     margin-left: 1rem;
   }

    @media #{$media-size-tablet} {
      text-align: center;
    }

    
  }
}
