.posts {
  max-width: 68rem;
  margin: 0 auto;
  text-align: left;
  padding: 14rem var(--spacing-m) var(--spacing-m) var(--spacing-m);

  @media #{$media-size-tablet} {
    max-width: 100%;
  }

  h1 {
    text-align: center;
  }

  .blog-archive {
    max-width: 30em;
    margin: var(--spacing-xl) 0 10rem 0;
  }

  // &:not(:last-of-type) {
  //   border-bottom: 1px solid var(--light-border-color);

  //   .dark-theme & {
  //     border-color: var(--dark-border-color);
  //   }
  // }

  img {
      max-width: 100%;
      padding: var(--spacing-xs);
      background-color: white;  
      box-shadow: 0px 0.913195px 2.04777px rgba(0, 0, 0, 0.00843437), 0px 2.19453px 4.92108px rgba(0, 0, 0, 0.0121168), 0px 4.13211px 9.26595px rgba(0, 0, 0, 0.015), 0px 7.37098px 16.5289px rgba(0, 0, 0, 0.0178832), 0px 13.7866px 30.9154px rgba(0, 0, 0, 0.0215656), 0px 33px 74px rgba(0, 0, 0, 0.03);
      border-radius: 4px;
    }

  // .lead {
  //   font-size: 1.2rem;
  //   margin: 0 0 1.5em 0;
  // }

  &-group {
    margin-bottom: 6.4rem;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {
    // flex-grow: 1;
    margin:0;
    padding: 0;
    list-style: none;
    font-size: 2.2rem;

    a {
      color: rgba(var(--light-text-color), 1);
  
      &:hover {
        color: rgba(var(--light-link-hover), 1);
      }
  
      .dark-theme & {
        color: rgba(var(--dark-text-color), 1);
  
        &:hover {
          color: rgba(var(--dark-purple), 1);
        }
      }
    }
  }

  .post {

    &-title {
      // font-size: 1rem;
      // margin: 5px 0 5px 0;
      text-decoration: underline;
      margin: 0;

      @media #{$media-size-tablet} {
        font-size: inherit;
      }
    }

    &-year {
      margin-top: var(--spacing-l);

      @media #{$media-size-phone} {
        margin-top: var(--spacing-xxxl);
      }
    }

    &-item {
      // border-bottom: 1px grey dashed;
      margin-bottom: var(--spacing-xs);

      a {
        // display: flex;
        // justify-content: space-between;
        // align-items: baseline;
        // padding: 12px 0;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 16% 1fr;

        @media #{$media-size-phone} {
          display: block;
          margin-bottom: 2.8rem;
        }
      }
    }

    &-day {
      margin-right: var(--spacing-m);
      color: rgba(var(--light-text-color), 0.6);

      @media #{$media-size-phone} {
        display: block;
        margin: 0;
      }

      .dark-theme & {
        color: rgba(var(--dark-text-color-secondary), 1);
      }
    }
  }
}
