.logo {
  // display: flex;
  // align-items: center;
  // text-decoration: none;
  // font-weight: bold;
  // letter-spacing: -0.05em;
  font-size: 1.6rem;
  line-height: 1.2;
  justify-self: start;

  img {
    height: 36px;
  }

  .circle {
    border: 2px solid rgba(var(--light-background), 1);

    .dark-theme & {
      border: 2px solid rgba(var(--dark-background), 1);
    }
  }

  .avatar-outer {
    background: linear-gradient(135deg, #32B7FE 11.81%, #FFD966 87.52%);
    border-radius: 50%;
    margin: auto;
    width: 40px;
    height: 40px;
    display: grid;

    .dark-theme & {
      background: linear-gradient(135deg, #BB6BD9 11.81%, #EFCC3C 87.52%);
    }
  }

  &__subtitle {
    color: rgba(var(--light-text-color), 0.45);

    @media #{$media-size-phone-med} {
      font-size: 1.6rem;
      margin-top: -1px;
    }

    @media #{$media-size-phone-sml} {
      font-size: 1.6rem;
      margin-top: -1px;

      &:before {
        content: '\A'; 
        white-space: pre;
      }
    }

    .dark-theme & {
      color: rgba(var(--commodore-yellow), 1);
    }
  }

  &__mark {
    margin-right: 5px;
  }

  &__text {

  }

  &__cursor {
    display: inline-block;
    width: 3px;
    height: 2.6rem;
    background: #fe5186;
    margin-left: 8px;
    border-radius: 1px;
    animation: cursor 1s infinite;
    position: relative;
    top: 4px;
  }

  @media (prefers-reduced-motion: reduce) {
    &__cursor {
        animation: none;
    }
  }

}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
