html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: rgba(var(--light-background), 1);
  color: rgba(var(--light-text-color), 1);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "liga", "tnum", "kern", "case", "calt", "zero", "ss01", "locl";
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;

  display: flex;
  // min-height: 100vh;
  flex-direction: column;

  @media #{$media-size-phone} {
    font-size: 1.6rem;
  }

  &.dark-theme {
    background-color: rgba(var(--dark-background), 1);
    color: rgba(var(--dark-text-color), 1);
  }
}

p {
  font-size: 1.8rem;
  letter-spacing: -0.0143007em;
  color: rgba(var(--light-text-color), 1);
  margin: 0 0 var(--spacing-xxl) 0;

  .dark-theme & {
    color: rgba(var(--dark-text-color-secondary), 1);
  }

  a {
    color: rgba(var(--light-text-color), 1);

    &:hover {
      color: rgba(var(--light-link-hover), 1);
    }

    .dark-theme & {
      color: rgba(var(--dark-text-color), 1);

      &:hover {
        color: rgba(var(--dark-purple), 1);
      }
    }
  }
}

// li {
//   font-family: var(--font-ibm-mono);
//   letter-spacing: -0.01em;
// }

.lead {
  color: rgba(var(--light-text-color), 1);
  font-size: 2.4rem;
  letter-spacing: -0.0194923em;
  margin-bottom: var(--spacing-xl);

  .dark-theme & {
    color: rgba(var(--dark-text-color-secondary), 1);
  }

  a {
    color: rgba(var(--light-text-color), 1);

    .dark-theme & {
      color: rgba(var(--dark-text-color-secondary), 1);
    }
  }
}

h2, h3, h4, h5, h6 {
  // display: flex;
  // align-items: center;
  // letter-spacing: -1px;
  margin: 0 0 var(--spacing-m) 0;
  padding: 0;
  font-weight: 700;
}

h1 {
  font-size: 3.6rem;
  line-height: 1.333333333333333; /* 44px line height = 48/36 */
  letter-spacing: -0.0221279em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.6rem;
  line-height: 1.538461538461538; /* 40px line height = 40/26 */
  letter-spacing: -0.0202341em;
}

h3 {
  font-size: 2.2rem;
  line-height: 1.454545454545455; /* 32px line height = 32/22 */
  letter-spacing: -0.0185341em;
}

h4 {
  font-size: 2rem;
  line-height: 1.4; /* 28px line height = 28/20 */
  letter-spacing: -0.0166573em;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.333333333333333; /* 24px line height = 24/18 */
  letter-spacing: -0.0143007em;
}

h6 {
  font-size: 1.6rem;
  line-height: 1.25;
  letter-spacing: -0.0109598em;
}

// @media #{$media-size-phone} {
//   h1 {
//     font-size: 2.6rem;
//   }

//   h2 {
//     font-size: 1.4rem;
//   }

//   h3 {
//     font-size: 1.15rem;
//   }

//   h4 {
//     font-size: 1.125rem;
//   }
// }

a {
  color: inherit;
}

.video {
  margin-bottom: var(--spacing-l);
}

article li {
  color: rgba(var(--light-text-color), 1);
  font-size: 1.8rem;
  letter-spacing: -0.014em;

  .dark-theme & {
    color: rgba(var(--dark-text-color-secondary), 1);
  }

  a {
    color: rgba(var(--light-text-color), 1);

    &:hover {
      color: rgba(var(--light-link-hover), 1);
    }

    .dark-theme & {
      color: rgba(var(--dark-text-color), 1);

      &:hover {
        color: rgba(var(--dark-purple), 1);
      }
    }
  }
}

img {
  display: block;
  // max-width: 100%;

  &.left {
    margin-right: auto;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  &.circle {
    border-radius: 50%;
    margin: auto;
  }
}


figure {
  // display: table;
  // max-width: 100%;
  margin: var(--spacing-xxxl) 0;

  &.left {
    margin-right: auto;
  }

  &.left-floated {
    margin-right: auto;
    float: left;
    img {
      margin: var(--spacing-l) var(--spacing-l) var(--spacing-l) 0;
    }
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    margin-left: auto;
  }

  &.right-floated {
    margin-left: auto;
    float: right;
    img {
      margin: var(--spacing-l) 0 var(--spacing-l) var(--spacing-l);
    }
  }

  &.rounded {
    img {
      border-radius: 50%;
      background-clip: padding-box;
    }
  }

  figcaption {
    font-size: 14px;
    margin-top: var(--spacing-xxs);

    p {
      margin: var(--spacing-s) 0 0 0;
      color: rgba(var(--dark-background), 0.7);
      line-height: 1.428571428571429;
      font-style: italic;
      font-size: 1.6rem;
  
      .dark-theme & {
        color: rgba(var(--dark-text-color-secondary), 0.7);
      }
    }

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-display: auto;
  font-feature-settings: normal;
  background: var(--light-background-secondary);
  padding: 1px 6px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: .95rem;

  .dark-theme & {
    background: var(--dark-background)-secondary;
  }
}

pre {
  background: #212020;
  padding: 10px 10px 10px 20px;
  border-radius: 8px;
  font-size: .95rem;
  overflow: auto;

  @media #{$media-size-phone} {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-size: inherit;

    .dark-theme & {
      color: inherit;
    }
  }
}

blockquote {
  border-left: 2px solid;
  margin: var(--spacing-xxxl);
  padding: var(--spacing-xs) var(--spacing-m);
  font-size: 1.8rem;

  @media #{$media-size-phone} {
    margin: var(--spacing-s);
    padding: var(--spacing-s);
  }

  &:before {
    content: '”';
    font-family: Georgia, serif;
    font-display: auto;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}

ul, ol {
  margin: 0 0 var(--spacing-m) 0;
  padding: 0;
  list-style-position: inside;
}

ol ol {
  list-style-type: lower-alpha;
}

li {
  margin-bottom: var(--spacing-m);
}

.container {
  text-align: left;
}

.content {
  // display: flex;
  // // flex-direction: column;
  // // flex: 1 auto;
  // align-items: center;
  // justify-content: left;
  margin: 0 auto;
  max-width: 68rem;

  @media #{$media-size-phone} {
    margin-top: 0;
  }
}

hr {
  width: 100%;
  border: none;
  background: rgba(var(--light-background-secondary), 1);
  height: 1px;

  .dark-theme & {
    background: rgba(var(--dark-background-secondary), 0.7);
  }
}

.hidden {
  display: none;
}

.hide-on-phone {
  @media #{$media-size-phone} {
    display: none;
  }
}

.hide-on-tablet {
  @media #{$media-size-tablet} {
    display: none;
  }
}

// Accessibility
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
    width: auto;
    top: 5px;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	z-index: 100000;
}
