.menu {
  margin-right: 0;
  z-index: 9999;
  margin-left: -1.5%;

  .dark-theme & {
    // background: #252627;
  }

  @media #{$media-size-phone} {
    position: absolute;
    top: 45px;
    right: 0;
    border: none;
    margin: 0;
    padding: 1.2rem;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.6rem;
    font-size: 1.6rem;
    list-style: none;

    li {
      margin: 0 1rem;
      color: rgba(var(--dark-background), .7);

      .dark-theme & {
        color: rgba(var(--dark-text-color-secondary), 1);
      }
    }

    @media #{$media-size-phone} {
      flex-direction: column;
      align-items: center;
      padding: 0;

      li {
        margin: 0;
        padding: 5px;
      }
    }
  }

  @media #{$media-size-tablet} {
    position: absolute;
    top: 60px;
    left: 0;
    border: none;
    margin: 0;
    padding: 10px;
    width: 100%;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 1.6rem;
    font-size: 1.6rem;
    list-style: none;

    li {
      margin: 0 1.6rem;
    }

    @media #{$media-size-tablet} {
      flex-direction: column;
      align-items: center;
      padding: 0;

      li {
        margin: 0;
        padding: 5px;
      }
    }
  }

  &-trigger {
    width: 24px;
    height: 24px;
    // fill: currentColor;
    margin-left: 10px;
    cursor: pointer;

    fill: rgba(var(--light-text-color), 1);

    .dark-theme & {
        fill: rgba(var(--dark-purple), 1);
    }
  }

  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
